.fp {
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin-bottom: 3rem;
}

.fpImg {
    width: 100%;
    object-fit: cover;
    display: flex;
    height: 200px;
    -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    justify-content: space-between;
}


.fpImg:hover {
    -webkit-filter: blur(0);
	filter: blur(0);
}


.fpItem { 
    width: 100%;
    border: transparent;
    height: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: space-between;
    margin-top: 0.25rem;
}

.fpName {
    font-weight: bold;
}

.fpCity {
    font-weight: 200;
}

.fpRating > button {
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 5px;
}

.fpRating > span {
    font-size: 14px;
}