$principal-blue: #003580;
$active-blue: #3d71b8;


.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    font-size: 2rem;
    position: absolute;
    left: 0;
    top: 3px;
}


.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    border-radius: 1rem;
    margin-top: 10px;
}

.logged {
    color: #fff;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 20px; 

    button {
        background-color: $active-blue;
        border: transparent;
        outline: none;
        color: white;
        padding: 5px;
    }

    .welcomeText {
        margin-top: 0.20rem;
    }


}

