.footer {
    width: 100%;
    max-width: 1024px;
    font-size: 12px;
    list-style-type: none;
    align-items: center;
    position: relative;
    margin: auto;
}

.fLists {
    display: flex;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.fList {
    list-style-type: none;
}

.fListItem {
    margin-bottom: 10px;
    cursor: pointer;
    color: #005380;
    text-align: center;
}

.fText {
    font-size: 15px;
    margin-bottom: 2rem;
    text-align: center;
}